
DATABASE_URL= your neon connection with pooler
DIRECT_URL= your neon connection without pooler


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
AUTH_SECRET=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

VAPID_PUBLIC_KEY=
NEXT_PUBLIC_VAPID_PUBLIC_KEY= sama dgn vapid public key
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=https://chatme-jet.vercel.app

CRON_SECRET=
